/* 自定义重置样式 */
@import './base.css';

/* 第三方库样式 */
@import './global.css';

@import 'react-multi-carousel/lib/styles.css';

#root {
  height: 100%;
}

.ant-app {
  height: 100%;
  font-family: "Roboto Condensed", sans-serif  !important;
}

.super-hidden {
  display: none !important
}

.q-region {
  display: grid;
  font-family: "Roboto Condensed", sans-serif  !important;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-areas:
    "top top top top top"
    "top_resizer top_resizer top_resizer top_resizer top_resizer"
    "left left_resizer center right_resizer right"
    "bottom_resizer bottom_resizer bottom_resizer bottom_resizer bottom_resizer"
    "bottom bottom bottom bottom bottom";
}

.q-region .q-region-top {
  grid-area: top;
  overflow: visible;
}

.q-region .q-region-center {
  grid-area: center;
  overflow: auto;
}

.q-region .q-region-bottom {
  grid-area: bottom;
  overflow: visible;
}


/*------------- Replace table full view start-------------*/
.ant-table-wrapper {
  height: 100%;
  overflow: auto;
  font-family: "Roboto Condensed", sans-serif  !important;
}

.ant-table-wrapper .ant-spin-nested-loading,
.ant-table-wrapper .ant-spin-container {
  height: 100%;
}

.ant-table-wrapper .ant-spin-container {
  display: flex;
  flex-direction: column;
}

.ant-table-wrapper .ant-table {
  flex: 1;
  overflow: hidden;
  font-family: "Roboto Condensed", sans-serif  !important;
}

.ant-table-wrapper .ant-table-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ant-table-wrapper .ant-table-body {
  flex: 1;
}

.ant-table-wrapper .ant-table-content {
  overflow: auto !important;
}

/*------------- Replace table full view end-------------*/

.ant-modal-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ant-modal-content .ant-modal-header {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.ant-modal-content .ant-modal-body {
  padding-left: 24px !important;
  padding-right: 24px !important;
  overflow-y: scroll;
}

.ant-modal-body {
  overflow-y: auto !important;
}

.sx-marker-car-container {
  left: -14px;
  top: -14px;
}

.ant-table-body {
  overflow-y: scroll !important;
}

.ant-drawer-mask {
  display: none !important;
  /* Optional: Adjust the background color or opacity */
}

/* weather */

.sx-marker-label {
  text-wrap: nowrap;
  text-shadow: 0.5px 0.5px #434343;

  &:hover {
    font-size: 16px !important;
    color: #2E8BFE !important;

    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
      1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }
}

.sx-config-editing .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;

  &::after {
    content: "";
    position: absolute;
    color: white;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(255, 255, 255, 1);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
  }
}

.sx-screen-item {
  transform-origin: top left;
  height: 100vh;
}

/*------------- Menu nav-------------*/
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical .ant-menu-item {
  padding: 10px 24px !important;
  line-height: 0 !important;
}

.ant-menu-sub.ant-menu-inline .ant-menu-item {
  padding: 0 35px !important;
}

.border-selected {
  border-color: #06b6d4 !important;
}

.react-grid-placeholder {
  background: #ffffff20;
}

.react-grid-item-insite-border {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  top: 0;
  left: 0;
}
.react-grid-item {
  border: 2px solid #000;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.react-grid-container-view::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.react-grid-container-view {
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.sx-config:hover .sx-config-full {
  display: block;
}
.custom-next-arrow,
.custom-prev-arrow {
  font-size: 24px;
  color: #000;
  transition: color 0.3s ease;
}

.custom-next-arrow:hover,
.custom-prev-arrow:hover {
  color: #007bff;
}
@media (min-width: 1024px) and (max-width: 1640px) {
.vehicle-table  .ant-table-pagination.ant-pagination{
  margin-top: 44px !important
}
}

/* Ẩn thanh cuộn ngang */
.ant-table-body {
  overflow-x: auto !important;
  scrollbar-width: thin;
}

.font-roboto {
  font-family: "Roboto Condensed", sans-serif;
}

/* Form ant design */
.ant-form-item{
  margin-bottom: 15px !important;
}
.ant-form-item-label {
  padding-bottom: 2px !important;
}

/* Notification ant design */
.ant-notification-notice{
  padding: 15px 25px !important;
}

/* Table ant design */
.table-expanded .ant-table{
  margin: 0 !important;
}

.ant-drawer-title,
.ant-tabs-nav-list,
.ant-popconfirm-title,
.ant-typography,
.ant-notification-notice-content,
.ant-form-item-explain-error,
.ant-form-item-label,
.ant-modal,
.ant-select-dropdown,
.ant-select,
.ant-input,
.ant-btn {
  font-family: "Roboto Condensed", sans-serif  !important;
}